# -----------------------------
# Python Cache
# -----------------------------
__pycache__/
*.py[cod]
*.pyo

# -----------------------------
# Virtual Environment
# -----------------------------
.venv/
venv/
env/

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# Database
# -----------------------------
data/orbitwatch.db
*.db
*.sqlite

# -----------------------------
# Logs
# -----------------------------
logs/
*.log

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# IDE
# -----------------------------
.idea/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db